<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>myGration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload" style="background-color: #1b1b1b">
		<div id="google_translate_element"></div>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<!-- Inner -->
						<div class="inner" id='pdfLoadSpace' text-align="left">
                            <form method='POST' action='/fill'>
                                <p>File Name</p>
                                <select onchange="updateHidden()" id='pdfOptions'>
                                    <option disabled>loading...</option>
                                </select>
                                <input type='hidden' id='file_name' name='file_name' />
                                <p>Address</p>
                                <input type='text' name='address' />
                                <p>Phone Number</p>
                                <input type='text' name='phone' />
                                <p>City</p>
                                <input type='text' name='city' />
                                <p>Zip</p>
                                <input type='text' name='zip' />
                                <p>State</p>
                                <input type='text' name='state' />
                                <p>Country</p>
                                <input type='text' name='country' />
                                <p>Birthdate (dd/mm/yyyy)</p>
                                <input type='text' name='birth_date' />
                                <p>Gender</p>
                                <input type='text' name='gender' />
                                <p>Language</p>
                                <input type='text' name='language' />
                                <input type='submit' value='Fill Form' />
                            </form>
						</div>

				<!-- Nav -->
				<nav style="background-color: #000000;"  id="nav">
					<ul>
						<li><a href='/'>Home</a></li>
						<li><a href='/profile'>Profile</a></li>
						<li><a href='/tabs'>Posts Near You</a></li>
						<li><a style='color:crimson'>PDF Fill</a></li>
						<%if (!user) { %>
	          	<li><a href="/login">Login</a></li>
						<% } else { %>
	          	<li><a href="/profile">My Profile</a></li>
	          	<li><a href="/logout">Logout</a></li>
						<% } %>
					</ul>
				</nav>
				</div>
		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
<script>
$( document ).ready(function() {
    var combobox=document.getElementById('pdfOptions');
    $.get('/getpdfnames', function(result) {
        for(var i=0; i<result.length; i++)
        {
            var opt = document.createElement('option');
            opt.value = result[i];
            opt.innerHTML = result[i];
            combobox.appendChild(opt);
        }
    });
});

function updateHidden()
{
    document.getElementById('file_name').value=$("#pdfOptions").val();
}

function GrabFile()
{
    var toGet=$("#pdfOptions").val();
    $.post('/pdfFile/',{file_name:toGet},function(result)
    {
        try
        {
        var obj = document.createElement('object');
        obj.data=result;
        obj.type="application/pdf";
        obj.width="500px";
        obj.height="700px";
        document.getElementById('pdfLoadSpace').appendChild(obj);
        }
        catch(ex)
        {
            console.log(ex);
        }
       // console.log(result);
    });
}

</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>
	</body>
</html>